# Datasets & Large Audio Files (Ignored by Git)
ml_engine/data/
*.wav
*.mp3
*.flac
*.zip
*.tar.gz

# PyTorch Model Checkpoints & Large Binaries
*.pt
*.pth
*.onnx
ml_engine/models/*.pt

# Python Caches & Environments
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Mac OS System Files
.DS_Store

# IDE & Tool Cache Ignores
.idea/
.vscode/
.mypy_cache/
.ruff_cache/
tempCodeRunnerFile.py

# Allow Android native libraries (.so)
!mobile_app/app/src/main/jniLibs/**/*.so
!mobile_app/app/src/main/jniLibs/*/*.so
