# Datasets & Large Audio Files (Ignored by Git)
ml_engine/data/
*.wav
*.mp3
*.flac
*.zip
*.tar.gz

# PyTorch Model Checkpoints & Large Binaries
*.pt
*.pth
*.onnx
ml_engine/models/*.pt

# Python Caches & Environments
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Mac OS System Files
.DS_Store
